.container{
    display: flex;
    width: 640px;
    height: 640px;
    border: 2px solid black;
    flex-wrap: wrap;
}

.gridItem{
    width: 40px;
    height: 40px;
    border: 1px solid pink;
    box-sizing: border-box;

}